{% extends "base.html" %}
{% block title %}Edit Node{% endblock %}
{% block head %}
  {{ super() }}
    <!--- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--- Javascript -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <style>
      #map2 {
        width: 100%;
        height: 600px;
      }
    </style>
{% endblock %}
{% block content %}

<h1 class="mt-5">Add, edit or delete a measuring node</h1>

<form method="post">
  <div class="row mb-3">
    <label for="inputID" class="col-sm-2 col-form-label">ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputID" value="{{ data[0] }}" name="id" readonly="readonly">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input2" class="col-sm-2 col-form-label">EUI</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input2" value="{{ data[1] }}" name="eui" readonly="readonly">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input3" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input3" value="{{ data[2] }}" name="name">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input3" class="col-sm-2 col-form-label">Offset</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="input3" value="{{ data[3] }}" name="offset">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input5" class="col-sm-2 col-form-label">Coordinates</label>
    <div class="col">
      <input type="text" class="form-control" placeholder="lat" aria-label="lat" value="{{ data[4] }}" id="lat" name="lat">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="long" aria-label="long" value="{{ data[5] }}" id="long" name="lon">
    </div>
    <div class="col">
      <button type="button" class="btn btn-success" onclick="getLocation()">Current position</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Select on map</button>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input4" class="col-sm-2 col-form-label">Waters</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input4" value="{{ data[6] }}" name="waters">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input5" class="col-sm-2 col-form-label">Last updated</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input5" value="{{ data[7] }}" readonly="readonly">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">    
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select coordinates</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map2"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="savecoords()" data-bs-dismiss="modal">Select</button>
      </div>
    </div>
  </div>
</div>

<script>

var map2 = L.map('map2').setView([52.328653, 7.783740], 14);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
}).addTo(map2);

var marker;
map2.on('click', function(e) {
    if(marker)
      map2.removeLayer(marker);
    console.log(e.latlng); // e is an event object (MouseEvent in this case)
    marker = L.marker(e.latlng).addTo(map2);
});

function savecoords() {
  document.getElementById("lat").value = marker.getLatLng().lat;
  document.getElementById("long").value = marker.getLatLng().lng;
}

function getLocation() {
  if (navigator.geolocation)
    navigator.geolocation.getCurrentPosition(showPosition);
}

function showPosition(position) {
  if(marker)
    map2.removeLayer(marker);
  marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map2);

  document.getElementById("lat").value = position.coords.latitude;
  document.getElementById("long").value = position.coords.longitude;
}

marker = L.marker([{{ data[4] }}, {{ data[5] }}]).addTo(map2);

// Comment out the below code to see the difference.
$('#exampleModal').on('shown.bs.modal', function() {
  map2.invalidateSize();
});

</script>

{% endblock %}