{% extends "base.html" %}
{% block title %}LoRIS Waters{% endblock %}
{% block head %}
  {{ super() }}
    <!--- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--- Javascript -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
{% endblock %}
{% block content %}

<h1 class="mt-5">LoRIS Waters</h1>

<p class="lead">Measure water levels with many low-cost LoRaWAN nodes.</p>

<h2 class="mt-5">Disclaimer</h2>
<p class="lead">All parts of this project are just very basic prototypes.
In many parts of this project are not yet fully developed and there is still much room for improvement.</p>

<h2 class="mt-5">Project Description</h2>

<p class="lead">This project was originally created as part of the LoRIS Innovation Cup 2022. I became aware of the competition through an email. As part of this competition, members of northern German colleges and universities can develop IoT projects based on LoRaWAN.

Since the competition was cancelled due to a low number of participants, it was possible to take part in the normal ELV readers' competition. The corresponding article in the ELV magazine is expected to be published in the edition 1/2023.

The basic idea of this project is to measure water levels of small lakes and brooks in order to have a bigger databasis for predictions of extreme weather events. But it also could be used in local personal environments like a small pond in the garden etc.</p>

{% endblock %}