{% extends "base.html" %}
{% set active_page = "map" %}

{% block title %}Map{% endblock %}
{% block head %}
  {{ super() }}
    <!--- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--- Javascript -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
{% endblock %}
{% block content %}
<h1 class="mt-5">Map</h1>
<p class="lead">Map overview of the measurements nodes.</p>

<div id="map"></div>
<script>
    const PLOT_WIDTH = 50;
    const PLOT_HEIGHT = 50;

    function getMarkerIcon(url) {
        return new L.Icon({
            iconUrl: url,
            iconSize:     [25, 41],
            iconAnchor:   [16, 40],
            popupAnchor:  [-12.5, -45]
        });
    }

    function getDotIcon(url) {
        return new L.Icon({
            iconUrl: url,
            iconSize:     [25, 25],
            iconAnchor:   [16, 24],
            popupAnchor:  [-12.5, -25]
        });
    }

    var markers = []
    markers.push([getMarkerIcon("{{ url_for('static', filename='img/marker_green.png') }}"),  getDotIcon("{{ url_for('static', filename='img/dot_green.png') }}")]);
    markers.push([getMarkerIcon("{{ url_for('static', filename='img/marker_orange.png') }}"), getDotIcon("{{ url_for('static', filename='img/dot_orange.png') }}")]);
    markers.push([getMarkerIcon("{{ url_for('static', filename='img/marker_blue.png') }}"),   getDotIcon("{{ url_for('static', filename='img/dot_blue.png') }}")]);

    // main data

    // get data
    fetch(`/nodes_data`)
    .then(res => res.json())
    .then(out => parse_data(out))

    var map = L.map('map').setView([52.328653, 7.783740], 14);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    function parse_data(da) {
        // console.log(da)
        da.forEach(measurement_point => {
            // console.log(measurement_point);
            
            var popup = L.popup();

            // create marker on the map
            var marker = L.marker([measurement_point.lat, measurement_point.lon], {icon: markers[measurement_point.color][0]}).bindPopup(popup).addTo(map);

            // change marker type between dot and normal marker
            map.on('zoomend', function() {
                var currentZoom = map.getZoom();
                if(currentZoom >= 13) {
                    marker.setIcon(markers[measurement_point.color][0]);
                } else {
                    marker.setIcon(markers[measurement_point.color][1]);
                }
            }); 

            // draw plot
            marker.on('click', function(){
                // get data
                fetch(`/node_data/${measurement_point.id}`)
                .then(res => res.json())
                .then(out => {
                    var popup = marker._popup;
                    popup.setContent(`
                        <div>
                            <canvas class="miniplot" id="plot${measurement_point.id}" style="float: left;" width="${PLOT_WIDTH}" height="${PLOT_HEIGHT}"></canvas>
                            <div>
                                <div>${measurement_point.name} (<b>#${measurement_point.id}</b>)</div>
                                <div><b>${out[out.length - 1][0]}</b> cm</div>
                                <div>${out[out.length - 1][1]}</div>
                            </div>
                            <hr>
                            <div>
                                <div>Waters: ${measurement_point.waters}</div>
                                <div>Min. <b>${measurement_point.min}</b> cm</div>
                                <div>Max. <b>${measurement_point.max}</b> cm</div>
                                <div><a href='/node/${measurement_point.id}'>more details</a></div>
                            </div>
                        </div>
                    `);

                    var canvas = document.getElementById(`plot${measurement_point.id}`);

                    if (canvas.getContext) 
                    {
                        var ctx = canvas.getContext('2d');

                        // start path and settings
                        ctx.beginPath();    
                        ctx.lineWidth = "1";
                        ctx.strokeStyle = "blue";
                        ctx.moveTo(-10000, 0);


                        //
                        var single_data = out.map( item => item[Object.keys(item)[0]]);
                        console.log(single_data);

                        // normalize data:
                        var max = Math.max.apply(Math, single_data);
                        var min = Math.min.apply(Math, single_data);
                        var timestep = PLOT_WIDTH / single_data.length;

                        // plot every point normalized
                        var prev_y = 0;
                        single_data.forEach(function (da, i) {
                            var normalized = (da - min) / (max - min);
                            normalized = 1 - normalized;
                            var scale = PLOT_HEIGHT - 2 // 1px margin bottom and top
                            
                            // step plot
                            if(i >= 1)
                                ctx.lineTo(timestep * i + 1, prev_y);
                            ctx.lineTo(timestep * i + 1, 1 + scale * normalized);
                            prev_y = 1 + scale * normalized;
                        });

                        // create stroke between points
                        ctx.stroke();
                    }
                })
            }); 
        });
    }
</script>
{% endblock %}