{% extends "base.html" %}
{% set active_page = "nodes" %}
{% block title %}List of Nodes{% endblock %}
{% block head %}
    {{ super() }}
    <!--- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--- Javascript -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
{% endblock %}
{% block content %}

<h1 class="mt-5">List of Nodes</h1>
<p class="lead">Here is a list of all the nodes in the system.</p>

<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Offset</th>
        <th scope="col">Waters</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for segment in data %}
            <tr>
                <td scope="row">{{ segment.id }}</td>
                <td>{{ segment.offset }}</td>
                <td>{{ segment.waters }}</td>
                <td>{{ segment.name }}</td>
                <td><a href="/node/{{ segment.id }}">more details</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    // get data
    fetch(`/nodes_data`)
    .then(res => res.json())
    .then(out => parse_data(out))

    function parse_data(da) {
        console.log(da)
        da.forEach(measurement_point => {
            console.log(measurement_point);
        });
    }
</script>

{% endblock %}