{% extends "base.html" %}
{% block title %}Details {{ data[2] }} (#{{ data[0] }}){% endblock %}
{% block head %}
  {{ super() }}
    <!--- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--- Javascript -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <style>
      #map2 {
        width: 100%;
        height: 600px;
      }
    </style>
{% endblock %}
{% block content %}

<h1 class="mt-5">Details <b>{{ data[2] }}</b>(#{{ data[0] }})</h1>

<h2 class="mt-5">Map</h2>

<div id="minimap"></div>

<script>

function getMarkerIcon(url) {
  return new L.Icon({
      iconUrl: url,
      iconSize:     [25, 41],
      iconAnchor:   [16, 40],
      popupAnchor:  [-12.5, -45]
  });
}

// get data
fetch(`/nodes_data`)
.then(res => res.json())
.then(out => parse_data(out))

var map = L.map('minimap').setView([52.328653, 7.783740], 14);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
}).addTo(map);

var marker = L.marker([{{ data[4] }}, {{ data[5] }}], {icon: getMarkerIcon("{{ url_for('static', filename='img/marker_blue.png') }}")}).addTo(map);

</script>
<h2 class="mt-5">Plot</h2>

<canvas class="bigplot" id="plot" width="1200px" height="350px"></canvas>

<script>
fetch("/node_data/{{ data[0] }}")
  .then(res => res.json())
  .then(out => {
    var canvas = document.getElementById(`plot`);
    if (canvas.getContext) 
    {
        var ctx = canvas.getContext('2d');

        // start path and settings
        ctx.beginPath();    
        ctx.lineWidth = "1";
        ctx.strokeStyle = "blue";
        ctx.moveTo(-10000, 0);

        var width = canvas.width;
        var height = canvas.height;



        //
        var single_data = out.map( item => item[Object.keys(item)[0]]);
        console.log(single_data);

        // normalize data:
        var max = Math.max.apply(Math, single_data);
        var min = Math.min.apply(Math, single_data);
        var timestep = width / single_data.length;

        // plot every point normalized
        var prev_y = 0;
        single_data.forEach(function (da, i) {
            var normalized = (da - min) / (max - min);
            normalized = 1 - normalized;
            var scale = height - 2 // 1px margin bottom and top
            
            // step plot
            if(i >= 1)
                ctx.lineTo(timestep * i + 1, prev_y);
            ctx.lineTo(timestep * i + 1, 1 + scale * normalized);
            prev_y = 1 + scale * normalized;
        });

        // create stroke between points
        ctx.stroke();
    }
  });
</script>


<h2 class="mt-5">More Details</h2>
<form>
  <div class="row mb-3">
    <label for="input3" class="col-sm-2 col-form-label">Offset</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="input3" value="{{ data[3] }}" name="offset" readonly="readonly">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input5" class="col-sm-2 col-form-label">Coordinates</label>
    <div class="col">
      <input type="text" class="form-control" placeholder="lat" aria-label="lat" value="{{ data[4] }}" id="lat" name="lat" readonly="readonly">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="long" aria-label="long" value="{{ data[5] }}" id="long" name="lon" readonly="readonly">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input4" class="col-sm-2 col-form-label">Waters</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input4" value="{{ data[6] }}" name="waters" readonly="readonly">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input5" class="col-sm-2 col-form-label">Last updated</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input5" value="{{ data[7] }}" readonly="readonly">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">    
      <a href="/edit_node/{{ data[0] }}" class="btn btn-primary">Edit Node</a>
    </div>
  </div>
</form>

{% endblock %}