body {
    margin: 0;
    padding: 0;
}
#map { height: 700px; }

#minimap { 
    height: 300px;
    margin-bottom: 20px;
}


.leaflet-popup {
    min-width: 250px;
}

.miniplot {
    margin-right: 5px;
}

.bigplot {
    width: 100%;
}